@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Empréstimos onlaine</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai emcontrar!</p>
    <div>
        <img src="/img/book.png" />
    </div>

</div>
